<% was_validated = book.errors.any? %>

<%= form_with(model: book, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for title start -->
  <div class="form-group">
    <% title_class = "form-control" %>
    <% title_was_invalid = book.errors.include?(:title) %>

    <% if was_validated %>
      <% if title_was_invalid %>
        <% title_class << " is-invalid" %>
      <% else %>
        <% title_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :title %>
    <!-- Input for title start -->
    <%= f.text_field :title, class: title_class, placeholder: "Enter title" %>
    <!-- Input for title end -->
    <% if title_was_invalid %>
      <% book.errors.full_messages_for(:title).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for title end -->
  <!-- Label and input for student_id start -->
  <div class="form-group">
    <% student_id_class = "form-control" %>
    <% student_id_was_invalid = book.errors.include?(:student_id) %>

    <% if was_validated %>
      <% if student_id_was_invalid %>
        <% student_id_class << " is-invalid" %>
      <% else %>
        <% student_id_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :student_id %>
    <!-- Input for student_id start -->
    <%= f.select :student_id, options_from_collection_for_select(Student.all, :id, :name, @book.student_id), {}, class: "form-control" %>
    <!-- Input for student_id end -->
    <% if student_id_was_invalid %>
      <% book.errors.full_messages_for(:student_id).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for student_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
